name: Docker

on:
  push:
    branches: [ main ]
    tags: [ 'v*.*.*' ]
  workflow_dispatch:

permissions:
  contents: read
  packages: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  docker:
    name: Docker
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Metadata
        id: metadata
        uses: docker/metadata-action@v5
        with:
          images: |
            lxgaming/webhook
            ghcr.io/lxgaming/webhook
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3
      - name: Setup Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Login to GHCR
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup Build and Push
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        run: echo "branch=${GITHUB_REF_NAME#*v}" >> $GITHUB_ENV
      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          build-args: |
            BRANCH=${{ env.branch }}
          context: .
          file: ./Dockerfile
          platforms: linux/386,linux/amd64,linux/arm/v7,linux/arm64/v8
          push: ${{ github.event_name != 'pull_request' }}
          labels: ${{ steps.metadata.outputs.labels }}
          tags: ${{ steps.metadata.outputs.tags }}
  docker-alpine:
    name: Docker Alpine
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Metadata
        id: metadata
        uses: docker/metadata-action@v5
        with:
          images: |
            lxgaming/webhook
            ghcr.io/lxgaming/webhook
          tags: |
            type=raw,value=alpine,enable=${{ startsWith(github.ref, 'refs/tags/v') }}
            type=ref,event=branch,suffix=-alpine
            type=ref,event=pr,suffix=-alpine
            type=semver,pattern={{version}},suffix=-alpine
            type=semver,pattern={{major}}.{{minor}},suffix=-alpine
          flavor: |
            latest=false
      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3
      - name: Setup Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Login to GHCR
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup Build and Push
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        run: echo "branch=${GITHUB_REF_NAME#*v}" >> $GITHUB_ENV
      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          build-args: |
            BRANCH=${{ env.branch }}
          context: .
          file: ./alpine.Dockerfile
          platforms: linux/386,linux/amd64,linux/arm/v6,linux/arm/v7,linux/arm64/v8
          push: ${{ github.event_name != 'pull_request' }}
          labels: ${{ steps.metadata.outputs.labels }}
          tags: ${{ steps.metadata.outputs.tags }}